<!-- header -->
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="navbar-end">
        <button class="button is-danger " (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</section>

<!-- content -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-5-desktop">
        <app-add-user></app-add-user>
      </div>
      <div class="column">
        <app-user-list [users]="users" (searchComplete)="subscribeUsers($event)"></app-user-list>
      </div>
    </div>
  </div>
</section>
